$color-white: #FFF;
$color-black: #000;
$color-grey14: #232323;
$color-grey20: #333;
$color-grey47: #777777;
$color-grey60: #9a9a9a;
$color-grey79: #cacaca;
$color-grey90: #e7e7e7;
$color-grey96: #f5f5f5;
$color-navy: #0B1835;
$color-red: #9c3248;
$color-green: #46a85c;
$color-orange: #d4a345;

$color-light-pink: #fff9f6;

$color-footer-background: #eae7e4;
$color-copy: $color-grey20;
$color-link: $color-grey20;
$color-title: $color-black;
$color-copy-secondary: $color-grey79;

$color-facebook: #4065B4;

// $background-gradient: radial-gradient(50% 98%, #EBEAE8 44%, #F6F5F3 100%);
$background-image-color: $color-grey96;
